body, html{
	height: 100%;
	margin: 0;
	font-size: 20px;
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
	line-height: 1.8em;
	color: #666;
}
img{
	height: 100px;
	width: 100px;

}
.img1,.img2,.img3,.img4{
	position: relative;
	opacity: 0.70;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
}
.img1{
	background-image: url('../images/7.jpeg');
	min-height: 100%;
}
.img2{
	background-image: url('../images/3.jpeg');
	min-height: 400px;
}
.img3{
	background-image: url('../images/1.jpg');
	min-height: 400px;
}
.img4{
	background-image: url('../images/6.jpeg');
	min-height: 100%;
}
.project, .blog, .about{
	text-align: center;
	padding: 50px 80px;
}
.milli1{
	position: absolute;
	top: 50%;
	width: 100%;
	text-align: center;
	color: red;
	font-size: 45px;
	letter-spacing: 8px;
	text-transform: uppercase;
	font-weight: bold;
}
.milli{
	position: absolute;
	top: 50%;
	width: 100%;
	text-align: center;
	color: #000;
	font-size: 30px;
	letter-spacing: 8px;
	text-transform: uppercase;
}
@media(max-width: 568px){
	.img1, .img2, .img3, .img4{
		background-attachment: scroll;
	}
}